@font-face {
    font-family: 'Core Mellow';
    src: url('/fonts/core-mellow-regular.woff') format('woff'),
    url('/fonts/core-mellow-regular.ttf ') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir-light.woff2') format('woff2'),
    url('/fonts/avenir-light.woff') format('woff'),
    url('/fonts/avenir-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir-medium.woff2') format('woff2'),
    url('/fonts/avenir-medium.woff') format('woff'),
    url('/fonts/avenir-medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1,
.h1 {
    font-family: var(--heading-font);
    font-size: 2em;
}

h2,
.h2 {
    font-family: var(--heading-font);
    font-size: 1.75em;
}

h3,
.h3 {
    font-family: var(--heading-font);
    font-size: 1.5em;
}

h4,
.h4 {
    font-family: var(--heading-font);
    font-size: 1.25em;
}

h5,
.h5 {
    font-family: var(--heading-font);
    font-size: 1.125em;
}

h6,
.h6 {
    font-family: var(--heading-font);
    font-size: 1em;
}

body {
    font-family: 'Avenir', sans-serif;
    font-size: 100%; /* use browser font-size setting */
    line-height: 1.5;
    color: var(--body-font-color);
    font-feature-settings: "kern", "liga";
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
