:root {
    --pink: #ff5580;

    --grey-darkest: #373c48;
    --grey-dark: #9b9da2;
    --grey: #cbced3;
    --grey-lighter: #e4e6eb;
    --grey-lightest: #f4f4f4;

    --blue-lightest: #d9edf7;
    --blue-lighter: #bce8f1;
    --blue: #7d8bab;
    --blue-darker: #57637f;
    --blue-darkest: #373c48;

    --black: #242424;

    --yellow: #ffd255;
    --yellow-lightest: #fff6dd;

    --red: #ff0000;

    --border-radius-default: 4px;

    --heading-font: 'Core Mellow', Helvetica;
    --body-font: 'Avenir', sans-serif;
    --body-font-color: var(--black);

    --margin-small: 8px;
    --margin-default: 16px;
    --margin-large: 32px;
    --padding-small: 8px;
    --padding-default: 16px;
    --padding-large: 32px;

    --form-element-height: 2.5rem;

    --container-width: 1200px;
}

/* media queries */
@custom-media --media-xs    (min-width: 375px);
@custom-media --media-s     (min-width: 500px);
@custom-media --media-m     (min-width: 768px);
@custom-media --media-l     (min-width: 1024px);
@custom-media --media-xl    (min-width: 1200px);