.poi-list {
  @apply --container;

  &-items {
    list-style: none;
    margin: var(--margin-default) var(--margin-default) var(--margin-default) 0;
    padding-left: 0;
    text-align: center;
  }

  &-item {
    display: inline-block;
    width: calc(100% - var(--margin-default));
    max-width: 375px;
    margin-left: var(--margin-default);
    border-radius: var(--border-radius-default);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);

    &:not(:last-of-type) {
      margin-bottom: var(--margin-default);
    }
  }

  &-item-anchor {
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &-item-title {
    margin: 0;
    padding: var(--padding-small);
    font-size: 1.5em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-item-details {
    position: relative; /* for absolute position of .poi-list-item-price & .poi-list-item-type */
    background-size: cover;

    &:before {
      content: "";
      display: block;
      padding-top: 50%;
    }
  }

  &-item-img {
    display: block;
    width: 100%;
    height: auto;
  }

  &-item-labels {
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: var(--margin-default);
    left: 0;

    > * {
      display: inline-block;
      padding: 0.25em 0.5em;
      color: white;

      &:not(:last-of-type) {
        margin-right: 4px;
      }
    }
  }

  &-item-type {
    margin-right: var(--margin-small);
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: var(--border-radius-default);
    border-bottom-right-radius: var(--border-radius-default);

    /* icon */
    &:before {
      margin-right: var(--margin-small);
    }
  }

  &-item-price {
    background-color: var(--pink);
    border-radius: var(--border-radius-default);
    font-weight: bold;
  }

  &-item-skip {
    background-color: var(--yellow);
    color: var(--body-font-color)
  }
}