.poi {

  &-header {
    padding-left: var(--padding-default);
    background-color: var(--grey-darkest);
    color: white;
    line-height: 3;
  }

  &-anchor-back {
    text-decoration: none;

    &:hover,
    &:visited {
      color: white;
    }
  }

  &-carousel {
    position: relative;
    overflow: hidden;
  }

  &-carousel-list {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 0;
    text-align: right;
  }

  &-carousel-item {
    display: inline-block;
  }

  &-carousel-img {
    width: 100%;
  }

  &-body {
    margin-right: var(--margin-small);
    margin-left: var(--margin-small);
    padding: var(--padding-default);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  }

  &-summary {

    & > * {
      margin-bottom: var(--margin-small);
    }
  }

  &-title {
    margin-top: 0;
  }

  &-ticket-list {
    display: inline;
    list-style: none;
    margin-bottom: var(--margin-small);
    padding-left: 0;
  }

  &-ticket-item {
    display: inline-block;
    margin-right: var(--margin-default);

    &:not(:first-of-type) {
      display: block;
      margin-left: 26px;
    }
  }

  &-icon {
    margin-right: var(--margin-small);

    &:before {
      font-size: 1.25em;
    }
  }

  &-ticket-price {
    font-weight: bold;
  }

  &-subtitle {
    margin-bottom: var(--margin-small);
  }

  &-address {
    font-style: normal;
  }
}